{% extends 'layout/base.html' %}

{% block content %}

{% if err_msg %}
<div class="alert alert-danger">
    {{err_msg}}
</div>
{% endif %}


<div class="row" style="margin-top:10%">
    <div class="col-md-4 col-sm-6">
        <img src="https://thumbs.dreamstime.com/b/jet-plane-icon-jet-plane-icon-blue-white-background-120405606.jpg"
             class="img-fluid" alt="{{ flight.id}} "/>
    </div>
    <div class="col-md-8 col-sm-6">
        <h1>{{ flight.airroute }}</h1>
        <p>Máy bay: {{ flight.airplane.type }} {{flight.airplane}}</p>
        <p>Thời gian bay: {{ flight.schedule[0].time }}</p>
        {% for s in stopover %}
        <p>Sân bay trung chuyển: {{ s.airport }}</p>
        {% endfor %}
        <h3>Giá vé hạng 2: {{ "{:,.1f}".format(flight.ticketprice.Sprice) }} VND</h3>
        <h3>Giá vé hạng 1: {{ "{:,.1f}".format(flight.ticketprice.Fprice) }} VND</h3>
        <form>
            <input type="radio" id="class1" name="seatclass" value="1" checked
                   onchange="setMax(this ,{{flight.schedule[0].num_o_Fseat}}, {{flight.schedule[0].num_o_Sseat}})">
            <label for="class1" style="margin:2%"> Hạng 1</label>
            <input type="radio" id="class2" name="seatclass" value="2"
                   onchange="setMax(this ,{{flight.schedule[0].num_o_Fseat}}, {{flight.schedule[0].num_o_Sseat}})">
            <label for="class2" style="margin-bottom: 3%"> Hạng 2</label>
            <div style="text-indent: 2%">
                <label for="Adult" style="margin-right: 2.4%"> Người lớn: </label>
                <input type="number" id="Adult" name="adult" step="1" max="{{flight.schedule[0].num_o_Fseat}}"
                       min="0" value=0
                       onchange="changeMaxAdult({{flight.schedule[0].num_o_Fseat}}, {{flight.schedule[0].num_o_Sseat}})">
            </div>
            <div style="text-indent: 2%">
                <label for="Child" style="margin-top: 1%; margin-right: 5%"> Trẻ em: </label>
                <input type="number" id="Child" name="child" step="1" max="{{flight.schedule[0].num_o_Fseat}}"
                       min="0" value="0"
                       onchange="changeMaxChild({{flight.schedule[0].num_o_Fseat}}, {{flight.schedule[0].num_o_Sseat}})">
            </div>
            <button class="btn btn-primary" type="submit" style="margin-top: 3%">Đặt mua</button>
        </form>
    </div>

</div>
{% endblock %}