{% extends 'layout/base.html' %}

{% block content %}
{% if err_msg %}
<div class="alert alert-danger">
    {{err_msg}}
</div>
{% endif %}
<div class="container" style="margin-top:2%">
    <form method="post">
        <h2 style="margin: 3%">Hạng {{sclass}} người lớn: {{Adult}} vé</h2>
        {% for i in range(0,Adult) %}
        <div style="background-color:  #86B817; border-radius: 15px 15px 0 0; ">
            <h2 style="margin-bottom: 0%; padding: 2%">Người lớn {{i+1}}</h2>
        </div>
        <div class="container"
             style="Border-style: solid; margin-bottom: 2.5%; border-radius: 0 0 15px 15px; padding: 3%">

            <h3> Thông tin vé</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">Chuyến bay</span>
                <input type="text" class="form-control" style="background-color:white" value="{{f.id}} {{f.airroute}}"
                       disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Hạng vé</span>
                <input type="text" class="form-control" style="background-color:white" value="{{sclass}}" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Giá tiền</span>
                {% if sclass == 1 %}
                <input type="text" class="form-control" style="background-color:white" value="{{f.ticketprice.Fprice}}"
                       disabled>
                {% else %}
                <input type="text" class="form-control" style="background-color:white" value="{{f.ticketprice.Sprice}}"
                       disabled>
                {% endif %}
            </div>
            <h3> Thông tin khách hàng</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">Tên</span>
                <input type="text" class="form-control" name="AFname">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Ngày sinh</span>
                <input  class="form-control" type="date" name="ADOB">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Họ lót</span>
                <input type="text" class="form-control" name="ALname">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Điện thoại</span>
                <input type="text" class="form-control" maxlength="10" name="APhone">
            </div>
            <h3>Giấy tờ</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">CMND/CCCD</span>
                <input type="text" class="form-control" name="APaper">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Passport</span>
                <input type="text" class="form-control" name="APP">
            </div>
        </div>
        {% endfor %}
        <h2>Hạng {{sclass}} trẻ em: {{Child}} vé</h2>
        {% for i in range(0,Child) %}
        <div style="background-color:  #86B817; border-radius: 15px 15px 0 0; margin-top: 3%">
            <h2 style="margin-bottom: 0%; padding: 2%">Trẻ em {{i+1}}</h2>
        </div>
        <div class="container" style="Border-style: solid; padding: 2.5%; border-radius: 0 0 15px 15px">

            <h3> Thông tin vé</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">Chuyến bay</span>
                <input type="text" class="form-control" style="background-color:white" value="{{f.id}} {{f.airroute}}"
                       disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Hạng vé</span>
                <input type="text" class="form-control" style="background-color:white" value="{{sclass}}" disabled>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Giá tiền</span>
                {% if sclass == 1 %}
                <input type="text" class="form-control" style="background-color:white" value="{{f.ticketprice.Fprice}}"
                       disabled>
                {% else %}
                <input type="text" class="form-control" style="background-color:white" value="{{f.ticketprice.Sprice}}"
                       disabled>
                {% endif %}
            </div>
            <h3> Thông tin khách hàng</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">Tên </span>
                <input type="text" class="form-control" name="CFname">

            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Họ lót </span>
                <input type="text" class="form-control" name="CLname">

            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Ngày sinh</span>
                <input class="form-control" type="date" name="CDOB">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Điện thoại người thân</span>
                <input type="text" class="form-control" maxlength="10" name="CPhone">
            </div>
            <h3>Giấy tờ</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">Passport</span>
                <input type="text" class="form-control" name="CPP">
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit" style="margin-top: 3%">Đặt vé</button>
    </form>
</div>
{% endblock %}