{% extends 'layout/base.html' %}

{% block content %}
{% if err_msg %}
<div class="alert alert-danger">
    {{err_msg}}
</div>
{% endif %}
<div class="container">
    <form>
    {% for i in range(0,Adult_Fseat) %}
    <div class="input-group mb-3 input-group-sm">
        <span class="input-group-text">Small</span>
        <input type="text" class="form-control" name="a1">
    </div>
    {% endfor %}
        <button class="btn btn-primary" type="submit" style="margin-top: 3%">Đặt vé</button>
    </form>
</div>
{% endblock %}